
*{
    box-sizing: border-box;
}

* ::before, *::after{
    box-sizing: border-box;
}


.learn-more {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-bottom: 5%;
}

.learn-more {
    width: 12rem;
    height: auto;
}

.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin-left: 5px;
    display: block;
    top: 40px;
    width: 3rem;
    height: 3rem;
    background: rgb(121, 207, 121);
    border-radius: 1.623rem;
}

.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.76, 1);
    left: 0.825rem;
    width: 1.25rem;
    height: 0.125rem;
    background: none;
}

.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.learn-more .button-text {
    transition: all 0.45s cubic-bazier(0.65, 0, 0.076, 1);
    position: absolute;
    left: 40px;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(121, 207, 121);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    visibility: visible;
}

.learn-more .button-text2 {
    transition: all 0.45s cubic-bazier(0.65, 0, 0.076, 1);
    position: absolute;
    left: 70px;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: rgb(121, 207, 121);
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    visibility: visible;
}

.learn-more:hover .circle {
    width: 100%;
}

.learn-more:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0 );
}

.learn-more:hover .button-text{
    color: #fff;
    visibility: visible;
}
.learn-more:hover .button-text2{
    color: #fff;
    visibility: visible;
}